.wrap {
	border: 2px solid #000;
	padding: 3px 1px 1px 3px;
	width: 228px;
}
.diamonds-wrap {
	position: relative;
	overflow: hidden;
	p {
		width: 220px;
		height: 22px;
	}

	.completed {
		b {
			animation: borderAnimt 0.3s 3;
			border-color: #560000;
		}
		b:after {
			animation: bgcAnimt 0.3s 3;
			background: #560000;
		}
	}

	.block {
		position: absolute;
		width: 100%;
		// top: 0;
		// left: 0;
	}
	.block-item {
		height: 22px;
	}
	.block-chunk {
		display: block;
		width: 20px;
		height: 20px;
		padding: 2px;
		border: 2px solid transparent;
		margin: 0 2px 2px 0;
		float: left;
		opacity: 0;
		&::after {
			display: none;
		}
	}

}

@keyframes bgcAnimt {
	0% {
		background: #560000;
	}
	50% {
		background: #879372;
	}
	0% {
		background: #560000;
	}
}
@keyframes borderAnimt {
	0% {
		border-color: #560000;
	}
	50% {
		border-color: #879372;
	}
	0% {
		border-color: #560000;
	}
}
