.wrap {
	height: 24px;
	font-size: 14px;
	float: right;
	span {
		float: left;
		width: 14px;
		height: 24px;
	}

	@for $i from 0 through 13 {
		.num#{$i} {
			background-position: (-14px * $i - 75px) -25px;
		}
	}
}
